<div *ngIf="status; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <div style="margin-top: 100px; margin-bottom: 100px">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #elseBlock>
  <div class="article-clean">
    <div class="container" style="background-color: #F0F0F0;">
      <div class="row">
        <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
          <!-- Start: Intro -->
          <div class="intro">
            <h1 class="text-center">{{ problem.title }}</h1><!-- Start: Date and Author -->
            <p class="text-center"><span class="by">by</span> <a href="#">{{problem.author}}</a></p>
            <!-- End: Date and Author -->
          </div><!-- End: Intro -->
          <!-- Start: Statement -->
          <div class="text font-weight-bold">
            <p>{{problem.ProblemStatement}}</p>
          </div><!-- End: Statement -->
          <!-- Start: InputTextCase -->
          <div class="text">
            <div class="timelimit">
              <div class="title"><strong>Time-limit: {{problem.TimeLimit}}s</strong></div>
            </div>
          </div>
          <div class="text">
            <div class="memorylimit">
              <div class="title"><strong>Memory-limit: {{problem.MemoryLimit}}Kb</strong></div>
            </div>
          </div>
          <div class="text">
            <div class="input">
              <div class="title"><strong>Input</strong></div>
              <textarea readonly>{{problem.SampleTestCases[0].test}}</textarea>
            </div>
          </div><!-- End: InputTextCase -->
          <!-- Start: OutputTestCase -->
          <div class="text">
            <div class="output">
              <div class="title"><strong>Output</strong></div>
              <textarea readonly>{{problem.SampleTestCases[0].output}}</textarea>
            </div>
          </div><!-- End: OutputTestCase -->
          <br/>
          <form method="post" [formGroup]="submissionForm" (ngSubmit)="add()">
            <div class="form-group">
              <textarea rows="25" class="form-control" name="source_code"
                        formControlName="source_code">Code goes here</textarea>
            </div>
            <div class="form-group">
              <select formControlName="language_id">
                <option *ngFor="let p of languages" [value]="p.id">{{p.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit">Submit</button>
            </div>
          </form>
          <br>
          <div class="text">
            <div class="status">
              <div class="title"><strong>Status</strong></div>
              <textarea readonly>{{message}}</textarea>
            </div>
          </div>
          <div class="text">
            <div class="stderr">
              <div class="title"><strong>Error</strong></div>
              <textarea readonly>{{stderr}}</textarea>
            </div>
          </div>
          <div class="text">
            <div class="compile">
              <div class="title"><strong>Compilation Error</strong></div>
              <textarea readonly>{{compile_output}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
