
<!-- blog starts here -->
<!-- <div class="container">
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://images.pexels.com/photos/396547/pexels-photo-396547.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://images.pexels.com/photos/396547/pexels-photo-396547.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
</ngb-carousel>
</div> -->
<!-- blog ends here -->


<!-- list of placement options -->

<section>

<div class="container" style="padding: 2%;">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="career-search mb-60">
          <div class="filter-result">
            <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
              <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                  G
                </div>
                <h3 class="text-md-left">Google</h3>
                <div class="job-content">
                  <ul class="d-md-flex flex-wrap text-capitalize">
                    <li class="mr-md-4">
                      <i class="fas fa-clock"></i> Software Developement Engineer
                    </li>
                    <li class="mr-md-4">
                      <i class="fas fa-memory"></i> 0-2 yrs experience
                    </li>
                    <li class="mr-md-4">
                      <i class="fas fa-user-friends"></i>Computer Engineering
                    </li>
                  </ul>
                </div>
              </div>
              <div class="job-right my-4 flex-shrink-0">
                <a class="btn d-block w-100 d-sm-inline-block btn-light" href="#"
                   routerLinkActive="active">Know More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
  <!-- placement list ends here -->

  <!-- competitive coding starts here -->
  
  <!-- competitive coding section ends here -->