<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 


  <div class="row" style="padding: 1%;">
     <!-- off campus -->
    
    <div style="padding: 3%;">
    <mat-card class="placement-card" [class.mat-elevation-z8]="true" (click)="navigate()"> 
      <img mat-card-image src="https://storage.googleapis.com/placement_assets/PLACEMENT_IMAGES/off_campus.jpg" alt="Photo of a Shiba Inu" style="opacity: 60%;">
      <mat-card-content >
        
        <p>
         View the off campus opportunities.................................. 
          
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- past record -->
  <div style="padding: 3%;">

  
    <mat-card class="placement-card"  [class.mat-elevation-z8]="true" (click)="navigate()">
     
      <img mat-card-image src="https://storage.googleapis.com/placement_assets/PLACEMENT_IMAGES/on_campus.jpg" alt="Photo of a Shiba Inu" style="opacity: 60%;">
      <mat-card-content>
        <p>
          View the past record.......................................!
        </p>
      </mat-card-content>
    
    </mat-card>
  </div>
  <!-- prediction -->
  <div style="padding: 3%;">
    <mat-card class="placement-card"  [class.mat-elevation-z8]="true" (click)="navigate()">
     
      <img mat-card-image src="https://storage.googleapis.com/placement_assets/PLACEMENT_IMAGES/prediction.jpg" alt="Photo of a Shiba Inu" style="opacity: 60%;">
      <mat-card-content>
        <p>
          Based on the available data, view the prediction.......................
        </p>
      </mat-card-content>
     
    </mat-card>
  </div>
  </div>
  



  <!--Zoom effect-->
 
  <!-- <div class="wrapper">
    <div class="parent" onclick="">
      <div class="child bg-one">
        <a href="#">Los Angeles</a>
      </div>
     
    </div>
    
    <div class="parent right" onclick="">
      <div class="child bg-two">
        <a href="#">London</a>
      </div>
    </div>

    
     
    
  </div>
   -->